<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.1.xsd">

	<mvc:annotation-driven />
	<context:annotation-config />

	<context:component-scan base-package="com.rob.**" />
	
	<context:property-placeholder location="classpath:config.properties"/>

	<!-- <mvc:resources mapping="/static/**" location="/static/" /> -->
	
	<!-- <bean id="templateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
	</bean> -->

	<bean id="templateResolver"
		class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/WEB-INF/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
	</bean>

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="order" value="1" />
		<property name="viewNames" value="*.html,*.xhtml" />
	</bean>

	<bean name="main" class="org.thymeleaf.spring4.view.ThymeleafView">
		<property name="staticVariables">
			<map>
				<entry key="footer" value="Some company: &lt;b&gt;ACME&lt;/b&gt;" />
			</map>
		</property>
	</bean>
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="Messages/messages" />
	</bean>

	<!-- <bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean> -->

	<!-- <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver"> 
		<property name="prefix" value="/WEB-INF/templates/" /> <property name="suffix" 
		value=".html" /> <property name="templateMode" value="HTML5" /> </bean> -->
		
	<!-- <oxm:jaxb2-marshaller id="jaxbMarshallerBean"> <oxm:class-to-be-bound 
		name="com.rob.model.User" /> </oxm:jaxb2-marshaller> <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"> 
		<property name="messageConverters"> <list> <ref bean="marshallingHttpMessageConverter" 
		/> </list> </property> </bean> <bean id="marshallingHttpMessageConverter" 
		class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"> 
		<property name="marshaller" ref="jaxbMarshallerBean" /> <property name="unmarshaller" 
		ref="jaxbMarshallerBean" /> </bean> -->

</beans>
